main {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

main section {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#main_video {
  z-index: 0;
}

#interactive_section {
  z-index: 1;
  display: none;
}
