h1 {
  text-align: center;
  margin-bottom: 40px;
}

main {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

main section {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 80%;
  min-width: 720px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  background-color: white;
  z-index: 1;
}

#welcome-scene {
  flex-direction: column;
}

#main-video {
  z-index: 0;
}

.section-container {
  position: relative;
}

.section-container img {
  width: 720px;
}

#q1-section button {
  position: absolute;
  border: 0;
  border: 2px solid rgba(238, 130, 238, 0.514);
  background-color: transparent;
}

#q1-section button:hover {
  background-color: rgba(238, 130, 238, 0.214);
}

#q1-uva {
  top: 120px;
  left: 530px;
  width: 140px;
  height: 140px;
}

#q1-uvb {
  top: 100px;
  left: 220px;
  width: 180px;
  height: 120px;
}

#q2-section button {
  position: absolute;
  width: 180px;
  height: 76px;
  border: 0;
  border: 2px solid rgba(238, 130, 238, 0.514);
  background-color: transparent;
}

#q2-section button:hover {
  background-color: rgba(238, 130, 238, 0.214);
}

#q2-smooth {
  top: 35px;
  left: 310px;
}

#q2-reflection {
  top: 120px;
  left: 320px;
}

#q2-absorb {
  top: 205px;
  left: 330px;
}

#q2-hydrating {
  top: 295px;
  left: 330px;
}
